<ion-header>
  <ion-toolbar>
    <ion-title>
      Annuaire
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab-annuaire</ion-title>
    </ion-toolbar>
  </ion-header> -->


  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor='let cat of catEnum | keyvalue' >
          <span (click)='onSelect(cat.value)' class="ion-align-items-center">
            <ion-thumbnail slot="start" >
               <!-- utiliser un composant icons personnalisable -->
              <app-mock-icon class="ion-align-self-center"  [iconName]='cat.value'></app-mock-icon>
            </ion-thumbnail>
            <ion-label >{{cat.value }}</ion-label>

          </span>




        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
