<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tab-landing</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" class='main-content'>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tab-landing</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <app-explore-container style='color:white'>
    <h1>Jeux Olympiques 2024</h1>
    <div id="flags">
      <button class="btn-flag" (click)="switchLang('fr')">FR</button>
      <button class="btn-flag" (click)="switchLang('en')">EN</button>
    </div>

    <label>{{'annuaire' | translate}}</label>
  </app-explore-container>
</ion-content>
