<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>{{ "accueil" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label>{{ "agenda" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{ "favoris" | translate}}</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab-landing">
      <ion-icon name="globe-outline"></ion-icon>
      <ion-label>{{ "langue" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!--
todo
attention ici tab-landing redirige vers tab1. L'utilisateur repasse forcément par tab1
à améliorer
-->
