<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-img src="../../assets/logos/logo.svg" width="50px" class='logo'></ion-img>

<ion-content [fullscreen]="true" class='main-container'>
  <section class='content-grid'>
    <div class="item-grid">
      <ion-icon name="calendar" size="large" class='icon'></ion-icon>
      <div class='icon-text' ><a routerLink='/tabs/tab2'>AGENDA</a></div>

    </div>
    <div class="item-grid">
      <ion-icon name="newspaper-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'><a routerLink='/tabs/tab-actus'>ACTUS</a></div>
    </div>
    <div class="item-grid">
      <ion-icon name="car-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'><a routerLink='/tabs/tab-annuaire'>ANNUAIRE</a></div>
    </div>
    <div class="item-grid">
      <ion-icon name="eye-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'>TOURISME</div>
    </div>
    <div class="item-grid">
      <ion-icon name="help-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'>QUESTIONS - REPONSES</div>
    </div>
  </section>

</ion-content>
