<ion-header>
  <ion-toolbar>
    <ion-title>
      {{'titleTab1'| translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class='main-container'>
  <section class='content-grid'>
    <div class="item-grid">
      <ion-icon name="calendar" size="large" class='icon'></ion-icon>
      <div class='icon-text' ><a routerLink='/content/tabs/tab2'>{{'agenda'| translate }}</a></div>

    </div>
    <div class="item-grid">
      <ion-icon name="newspaper-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'><a routerLink='/content//tabs/tab-actus'>{{'news'| translate}}</a></div>
    </div>
    <div class="item-grid">
      <ion-icon name="car-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'><a routerLink='/content//tabs/tab-annuaire'>{{'annuaire'| translate}}</a></div>
    </div>
    <!-- <div class="item-grid">
      <ion-icon name="eye-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'>TOURISME</div>
    </div> -->
    <div class="item-grid">
      <ion-icon name="help-outline" size="large" class='icon'></ion-icon>
      <div class='icon-text'><a routerLink='/content//tabs/tab-faq'>{{'faq'| translate}}</a></div>
    </div>
  </section>

</ion-content>
