<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mes favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf='updatedStorage$ | async as storage'>
    <ng-container *ngIf='storage.length === 0'>
      No fav
    </ng-container>


    <ng-container *ngIf='storage.length > 0'>
      <ion-card *ngFor='let i of  storage'>
        <ion-card-header>
          <ion-card-title>{{i.title}}</ion-card-title>
          <div class="sub-content">
            <ion-card-subtitle *ngFor='let cat of i.categories'>{{cat.name}}</ion-card-subtitle>

          </div>

        </ion-card-header>

        <ion-card-content>
          Début : {{i.start_date_details.hour}}h{{i.start_date_details.minutes}}
          Début : {{i.end_date_details.hour}}h{{i.end_date_details.minutes}}
          <div [innerHtml]="i.description"></div>

        </ion-card-content>
      </ion-card>
    </ng-container>
</ion-content>
