<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Questions Fréquentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='ion-padding'>
  <ion-accordion-group>
    <ion-accordion value="first" class='ion-padding'>
      <ion-item slot="header" color="light">
        <ion-label style='white-space: inherit;'>Quels jeux seront joués à Châteauroux ?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Le Centre National de Tir Sportif accueillera à Châteauroux les 340 athlètes olympiques puis les 160 athlètes paralympiques des épreuves de tir et de para tir sportif des Jeux de Paris 2024.

      </div>
    </ion-accordion>
    <ion-accordion value="second" class='ion-padding'>
      <ion-item slot="header" color="light">
        <ion-label style='white-space: inherit;'>Comment devenir volontaire ?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        45 000 personnes pourront vivre de l’intérieur le plus grand événement sportif du monde et auront un rôle clé à jouer,
        dans tous les secteurs de l’organisation et sur des sites partout en France.
      </div>
    </ion-accordion>
    <ion-accordion value="third" class='ion-padding'>
      <ion-item slot="header" color="light">
        <ion-label style='white-space: inherit;'>Quelles sont les dates des JO à Châteauroux ?</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        Si les épreuves castelroussines des Jeux olympiques auront lieu au Centre national de tir sportif (CNTS) du 27 juillet
        au 5 août, les tireurs seront accueillis sur place du 22 juillet au 8 août. Les épreuves des Jeux paralympiques auront,
        quant à elles, lieu du 28 août au 5 septembre, mais les paratireurs seront présents du 23 août au 10 septembre. En tout,
        l’accueil de toutes ces délégations représente donc un défi d’un mois et demi pour l’agglomération castelroussine.
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
