ion-header {
  background-color: #a10d59;
  color: white;
}

ion-content {
  font-family: Jost;
}

ion-title {
  font-family: Jost;
  background-color: #a10d59;
  color: white;
}
ion-label{
  white-space: inherit;
}
